body {
    margin: 0;
    background-size: cover;
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/750/614/non_2x/flat-design-abstract-background-soft-liquid-shapes-template-with-modern-gradient-background-colors-cool-aesthetic-background-design-suitable-for-social-media-post-mobile-app-banner-web-ads-free-vector.jpg);
}

/* BRON: de image gebruikt als achtergrond heb ik van Vecteezy!
dat is https://www.vecteezy.com/free-vector/app-background  */

img {
    width: 100px;
    display: flex;
    border-radius: 30px;
}

header {
    background-color: brown;
    border-radius: 20px;

}

.ikke {
    float: right;
    margin-right: 3%;
}

.kleineaanpassing {
    float: right;
    margin-right: 3%;
    width: 10em;
    margin-bottom: 3%;
}

p {
    margin-right: 50%;
    float: left;
    margin-bottom: -60%;
    margin-left: 3%;
}

h1 {
    justify-content: center;
    display: flex;
}

h2 {
    font-size: x-large;
    margin-left: 3%;
}
h3 {
    margin-top: 70%;
    font-size: x-large;
    margin-left: 3%;
}

nav img {
    width: 4em;
}

nav {
    background-color: brown;
    display: flex;
    justify-content: space-between;
    width: 100vw;    
    border-radius: 20px;

}

.winkelfoto {
    float: right;
    width: 40%;
}

#tekst2 {
    float: none;
    margin-block-end: 0em;
    margin-right: 40%;
}

.h2kopje {
    margin-top: 5%;
}

.voordelenfoto {
    float: right;
    width: 50%;
    margin-left: 0;

}

.introstijl {
    margin-right: 3%;
}

.stijlen {
    display: flex;
    justify-content: space-between;
    margin-top: 30%;
    margin-right: 5%;
    margin-left: -10%;
}

.stijlen img {
    margin: 10%;
    border: darksalmon solid 2px;
}

.idk {
    margin-top: 0%;
}
div {
    background-color: darksalmon;
    display: flow-root;
    border-radius: 40px;
    margin-bottom: -60%;
    margin-right: 10%;
    padding: 2%;
}
.andere-kant {
    margin-left: 10%;
    margin-right: 0;
    margin-bottom: 10%;
    padding: 0;
}
.info-pag {
    margin-bottom: 0;
}